@font-face {
    font-family: 'BPreplay';
}

.text {
    -fx-font-family: 'BPreplay';
}

.pane {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.pane2 {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
}

.text.field:focused {
    -fx-border-color: #55A5A6;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: -fx-focus-color, -fx-background;
}

.vertical {
    -fx-rotate:-90;
}

.choice-box {
    -fx-control-inner-background: #80B4B4;
}

.choice-box .label {
    -fx-text-fill: #FFFFFF;
}
